In [ ]:
#q1
The for statement iterates through a collection or iterable object or generator function.

The while statement simply loops until a condition is False.

for example
for _ in iter(user_is_sleeping, False):
    wait()
    
while example
while user_is_sleeping():
    wait()

In [2]:
#q2
s=0
p=1
for i in range(1,11):
    s=s+i
    p=p*i
    
print("sum is ",s,'product is ',p)

sum is  55 product is  3628800

In [4]:
i=1
s=0
p=1
while i<=10:
    s=s+i
    p=p*i
    i+=1
    
print("sum is ",s,'product is ',p)

sum is  55 product is  3628800

In [6]:
#q4

In [8]:
l1=[]
l2=[]
for i in range(1,101):
    l1.append(i)
for i in l1:
    if pow(i,3)%4==0 or pow(i,3)%5==0:
        l2.append(i)
l2

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [5]:
#q3

In [11]:
n=int(input("Enter number"))
if n<=100:
    p=4.5*n
elif n>100 and n<=200:
    p=4.5*100 + (6*(n-100))
elif n<=300 and n>200:
    p=4.5*100 + (6*100)+(10*(n-200))
else:
    p=4.5*100 + (6*100)+(10*100)+(20*(n-300))

print(p)

Enter number 310

2250.0

In [13]:
#q5
st = "I want to become a data scientist"
s=(st.upper())
c=0

for i in s:
    if i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        c+=1
print(c)

12